@import '../styles';

.footer-box {
    background-color: $dark-blue1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -15%;
    left: 10%;
    right: 10%;
    border-radius: .8rem;
    padding: 2.2rem 1.8rem;
    text-align: center;

    h1 {
        font-size: 1.2em;
        font-weight: 600;
    }
    p {
        padding: 2rem 0;
        font-size: .9em;
        line-height: 1.6em;
    }
    &-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        position: relative;
        input {
            font-family: $open-sans;
            border: none;
            padding: .9rem 2rem;
            border-radius: 2rem;
            margin-bottom: 1rem;
            &::placeholder {
                opacity: .5;
            }
            &:focus {
                outline: none;
            }
        }

        .button {
            >a,
            >button {
                padding: 1rem 0;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .footer-box {
        top: -30%;
        margin: 0 auto;
        max-width: 600px;
        padding: 3rem;
        h1 {
            font-size: 1.8em;
        }
        p{
            font-size: 1.1em;
            padding-left: 3rem;
            padding-right: 3rem;
        }
        &-form {
            padding: 1rem 0;
            flex-direction: row;
            input,
            .button {
                width: 100%;
                margin: 0 .5rem;
            }
            input {
                flex: 3;
            }
            .button {
                flex: 2;
            }
        }
    }
}