@import '../styles';

.productivity {
    text-align: left;
    padding: 0 1.5rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-picture {
        img {
            max-width: 100%;
        }
    }

    &-text {
        h1 {
            padding: 1.2rem 0;
            font-size: 1.3em;
            font-weight: 700;
        }
        p {
            padding: 0 0 1.2rem 0;
            font-size: 1.15em;
        }
        a {
            margin-top: 1rem;
            color: $cyan;
            padding: .5rem 10px;
            border-bottom: 1px $cyan solid;
            font-size: 1.15;
            transition: 80ms ease;
    
            img {
                vertical-align: -35%;
                width: 25px;
                margin-left: 5px;
            }
    
            &:hover {
                cursor: pointer;
                color: $white;
                border-bottom: 1px solid $white;
            }
        }
    }
}

@media only screen and (min-width: 650px) {
    .productivity {
        flex-direction: row;

        &-text {
            padding-left: 2rem;
            
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.3em;
                font-weight: 300;
            }
            a {
                font-size: 1.3em;
                img {
                    vertical-align: -25%;
                }
            }
        }
    }
}